@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 375px) {
    .App,
    .Navbar {
        width: 375px;
    }
}

@media (max-width:500px) {
    .App,
    .Navbar {
        width: 100vw;
    }
}

#root {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.titleFont {
    font-family: 'RixInooAriDuriR';
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.50);
}

.App {
    min-height: 100vh;
    background-color: #009DFF;
    /* background-image: url('../public/img/background.png'); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'SF_HailSnow'; */
    min-height: 100vh;
    margin: 0;
}


/* FixedBottom  */

.FixedBottom {
    letter-spacing: 7px;
}