.TimeTable {
    background-image: url('../../public/assets/images/background/timetableBack.png');
    background-position: center;
    background-size: cover;
}

.PresentList {
    background-image: url('../../public/assets/images/background/presentListBack2.png');
    background-position: center;
    background-size: cover;
}

.FunHola {
    background-image: url('../../public/assets/images/background/funHolaBack.png');
    background-position: center;
    background-size: cover;
}